<div class="left_col">
  <h1>Hey <%= current_user.username %>!</h1>
  <h4 class="notice"><%= flash[:notice] %></h4>
  <div class="avatar_box">
    <% @avatars.each do |emo, img| %>
    <div class="avatar-label">
      <div class="avatar"><img src="<%= img.read %>" id="<%= current_user.username %>_<%= emo %>"></div>
      <div class="label">#<%= emo %></div>
    </div>
    <% end %>
  </div>
  <p class="center">Feel like going with a different face today? Retake your avatars and surprise your friends!! <%= link_to "Retake Avatars", register_path, :class => "button" %></p>

  <div class="chat-index">
    <div class="form-box left">
      <h3>Create Chatroom</h3>
      <%= render "form" %>
    </div>
    <p class="left">OR</p>
    <div class="form-box right">
      <h3>Search Chatroom</h3>
      <%= render "search" %>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="right_col">
  <div class="recent_rooms">
    <h3>Recent Rooms</h3>
    <hr>
    <ul class="room_list">
      <% @recent_rooms.each do |room_name, time_left| %>
      <li class="room_list_text"><span class="left"><i class="fa fa-bookmark"></i><%= link_to "#{room_name} :", "/chatrooms/#{room_name}" %></span><span class="right"><%= "#{time_left}" %></span></li>
      <li class="clear"></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="clear"></div>

<%= javascript_tag do %>
setInterval(recentRoomTimes, 45000);
<% end %>
