<div class="left_col">
  <h1>Hey <%= current_user.username %>!</h1>
  <h4 class="notice"><%= flash[:notice] %></h4>
  <div class="avatar_box">
    <% @avatars.each do |emo, img| %>
    <div class="avatar-label">
      <div class="avatar"><img src="<%= img.read %>" id="<%= current_user.username %>_<%= emo %>"></div>
      <div class="label">#<%= emo %></div>
    </div>
    <% end %>
  </div>
  <p>Feel like going with a different face today? Retake your avatars and surprise your friends!!</p>
  <%= button_to "Retake Avatars", register_path, method: 'get', :class => "button" %>

  <div class="chat-index">
    <h3>Create Chatroom</h3>
    <%= render "form" %>
    <h3>Search Chatroom</h3>
    <%= render "search" %>
  </div>
</div>
<div class="right_col">
  <div class="recent_rooms">
    <h3>Recent Rooms</h3>
    <ul class="room_list">
      <% @recent_rooms.each do |room_name, time_left| %>
      <li class="room_list_text"><%= link_to "#{room_name}: #{time_left}", "/chatrooms/#{room_name}" %></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="clear"></div>

<%= javascript_tag do %>
setInterval(recentRoomTimes, 45000);
<% end %>
