<!DOCTYPE html>
<html>
<head>
  <title>ChatApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="fixed_header">
    <div class="header_content">
      <div class="logo">
        <h1>Chat_app</h1>
      </div>
      <ul class="nav">
        <% if signed_in? %>
          <li>Welcome <%= session[:username] %>! <%= link_to "Sign Out", "/signout" %></li>
        <% else %>
          <li><%= link_to "Sign in with Twitter", "/auth/twitter" %></li>
        <% end %>
      </ul>
    </div>
  </div>
  
  <div class="wrap">
    <%= yield %>
  </div>
</body>
</html>
