<!DOCTYPE html>
<html>
<head>
  <title>EmoChat.io</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="fixed_header">
    <div class="header_content">
      <div class="logo">
        <h1>EmoChat.io</h1>
      </div>
      <ul class="nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Account", chatrooms_path %></li>
        <li><%= link_to "Sign Out", signout_path %></li>
        <li><%= link_to "Donate", "https://www.paypal.com/home" %></li>
      </ul>
    </div>
  </div>

  <div class="wrap">
    <%= yield %>
  </div>
</body>
</html>
